In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [13]:
data=pd.read_csv('Used_Car_Dataset.csv')

In [14]:
data.head()

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1553 entries, 0 to 1552
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1553 non-null   int64
 1   car_name            1553 non-null   object
 2   registration_year   1553 non-null   object
 3   insurance_validity  1553 non-null   object
 4   fuel_type           1553 non-null   object
 5   seats               1553 non-null   int64
 6   kms_driven          1553 non-null   int64
 7   ownsership          1553 non-null   object
 8   transmission        1553 non-null   object
 9   manufacturing_year  1553 non-null   object
 10  mileage(kmpl)       1550 non-null   float64
 11  engine(cc)          1550 non-null   float64
 12  max_power(bhp)      1550 non-null   float64
 13  torque(Nm)          1549 non-null   float64
 14  price(in lakhs)     1553 non-null   float64
dtypes: float64(5), int64(3), object(7)
memory usage: 182.1+ KB

In [16]:
data.isnull().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         3
engine(cc)            3
max_power(bhp)        3
torque(Nm)            4
price(in lakhs)       0
dtype: int64

In [17]:
data['mileage(kmpl)']=data['mileage(kmpl)'].fillna(data['mileage(kmpl)'].mean())
data['engine(cc)']=data['engine(cc)'].fillna(data['engine(cc)'].mean())
data['max_power(bhp)']=data['max_power(bhp)'].fillna(data['max_power(bhp)'].mean())
data['torque(Nm)']=data['torque(Nm)'].fillna(data['torque(Nm)'].mean())

In [18]:
data.isnull().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         0
engine(cc)            0
max_power(bhp)        0
torque(Nm)            0
price(in lakhs)       0
dtype: int64

In [19]:
data=pd.DataFrame(data)

In [20]:
data=data.drop(['car_name'],axis=1)

In [21]:
data.head()

,Unnamed: 0,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

In [22]:
data['registration_year'] = data['registration_year'].astype(str)
data['registration_year'] = data['registration_year'].str.slice(4,6)
data['registration_year'] = pd.to_numeric(data['registration_year'], errors='coerce').fillna(0).astype(int)
data['manufacturing_year']=data['manufacturing_year'].astype(int)

In [23]:
data=pd.get_dummies(data,columns=['fuel_type','transmission','insurance_validity','ownsership'],drop_first=True)

In [24]:
data.head()

,Unnamed: 0,registration_year,seats,kms_driven,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs),...,ownsership_1998 cc,ownsership_2013,ownsership_2993 cc,ownsership_2999 cc,ownsership_998 cc,ownsership_999 cc,ownsership_Fifth Owner,ownsership_First Owner,ownsership_Second Owner,ownsership_Third Owner
0,0,17,5,56000,2017,7.81,2996.0,2996.0,333.0,63.75,...,False,False,False,False,False,False,False,True,False,False
1,1,21,5,30615,2020,17.40,999.0,999.0,9863.0,8.99,...,False,False,False,False,False,False,False,True,False,False
2,2,18,5,24000,2018,20.68,1995.0,1995.0,188.0,23.75,...,False,False,False,False,False,False,False,True,False,False
3,3,19,5,18378,2019,16.50,1353.0,1353.0,13808.0,13.56,...,False,False,False,False,False,False,False,True,False,False
4,4,19,5,44900,2019,14.67,1798.0,1798.0,17746.0,24.00,...,False,False,False,False,False,False,False,True,False,False

In [25]:
datatype=data.dtypes
print(datatype)

Unnamed: 0                                    int64
registration_year                             int32
seats                                         int64
kms_driven                                    int64
manufacturing_year                           object
mileage(kmpl)                               float64
engine(cc)                                  float64
max_power(bhp)                              float64
torque(Nm)                                  float64
price(in lakhs)                             float64
fuel_type_CNG                                  bool
fuel_type_Diesel                               bool
fuel_type_Petrol                               bool
transmission_2014                              bool
transmission_2015                              bool
transmission_2016                              bool
transmission_2017                              bool
transmission_2018                              bool
transmission_2020                              bool
transmission_2021                              bool
transmission_2022                              bool
transmission_2023                              bool
transmission_Automatic                         bool
transmission_Manual                            bool
transmission_Power Windows Front               bool
insurance_validity_Not Available               bool
insurance_validity_Petrol                      bool
insurance_validity_Third Party                 bool
insurance_validity_Third Party insurance       bool
insurance_validity_Zero Dep                    bool
ownsership_1199 cc                             bool
ownsership_1248 cc                             bool
ownsership_1451 cc                             bool
ownsership_1461 cc                             bool
ownsership_1497 cc                             bool
ownsership_1498 cc                             bool
ownsership_1950 cc                             bool
ownsership_1968 cc                             bool
ownsership_1984 cc                             bool
ownsership_1995 cc                             bool
ownsership_1996 cc                             bool
ownsership_1998 cc                             bool
ownsership_2013                                bool
ownsership_2993 cc                             bool
ownsership_2999 cc                             bool
ownsership_998 cc                              bool
ownsership_999 cc                              bool
ownsership_Fifth Owner                         bool
ownsership_First Owner                         bool
ownsership_Second Owner                        bool
ownsership_Third Owner                         bool
dtype: object